.idea/
dist/
node_modules/
npm-debug.log
build-dev.log
.cache/*
.build/*
!.cache/.gitkeep
.cache
.DS_Store
src/*/documentation/
coverage/
.vscode/
.storybook/public/*
!.storybook/public/.gitkeep
/docs/api/

lerna-debug.log
**/node_modules
/*.sh
/*.npmrc
