@import './fonts';
@import 'colors';

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: $main-font-family;
  height: 100%;
  background: $color-background;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1 {
  color: $color-primary-font;
  font-size: 34px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.3px;
  line-height: 1.18;
  margin: 0;
}

h2 {
  font-weight: 500;
}
